# ==================================================
# Flutter / Dart / Pub
# ==================================================
# Build outputs
build/
**/build/

# Dart tool cache
.dart_tool/
.packages
.pub/
.pub-cache/

# Generated plugin registrant
generated_plugin_registrant.dart

# ==================================================
# Firebase service account keys & config
# ==================================================
# Eigene Admin-SDK JSONs
/scripts/*.json
# Google-Services
/android/app/google-services.json
/ios/Runner/GoogleService-Info.plist

# Environment files
.env*
!.env.example

# ==================================================
# IDEs & Editors
# ==================================================
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.history/

# ==================================================
# Android
# ==================================================
# Gradle
android/local.properties
**/android/app/build/
**/android/.gradle/
**/android/gradle/
**/android/gradlew*
**/android/gradle-wrapper.*
# Keystores
**/*.jks
**/*.keystore

# ==================================================
# iOS / Xcode
# ==================================================
# Flutter frameworks & pods
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/engine/
ios/Pods/
ios/Runner.xcworkspace/
ios/Podfile.lock

# Xcode
*.xcworkspace
*.xcuserdata
*.xcuserstate
DerivedData/

# ==================================================
# Node / JS (falls du node_modules hast)
# ==================================================
node_modules/

# ==================================================
# Testing / Coverage / Reports
# ==================================================
coverage/
lcov.info
*.out
*.html
!site/*.html

# ==================================================
# Obfuscation / symbolication
# ==================================================
app.*.symbols
app.*.map.json
# Flutter build outputs
/build/

# FVM Version Cache
.fvm/