rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Erlaubt globale Lese- und Schreibzugriffe auf alle Dokumente:
    match /{document=**} {
      allow read, write: if true;
    }
  }
}