<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3ob7jwi7B-1uyPeRVFPLCLuo5y0TtVI8</string>
	<key>GCM_SENDER_ID</key>
	<string>397332415566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tapem.dev</string>
	<key>PROJECT_ID</key>
	<string>tap-em-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>tap-em-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397332415566:ios:99fd94ba38bfe0a3a12f1f</string>
</dict>
</plist>