#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-dev.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"

// Custom settings for Release-Dev configuration
BUNDLE_ID_SUFFIX=.dev
DISPLAY_NAME=Tap'em DEV
FLUTTER_FLAVOR=dev
